{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
            &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
            &rsaquo; {% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
        </div>
    {% endblock %}
{% endif %}

{% block content %}<div id="content-main">
    {% block object-tools %}
        {% if change %}{% if not is_popup %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    <li>
                        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                    </li>
                    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
                {% endblock %}
            </ul>
        {% endif %}{% endif %}
    {% endblock %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
        <div>
            {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
            {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
            {% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
            {% if errors %}
                <p class="errornote">
                    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                </p>
                {{ adminform.form.non_field_errors }}
            {% endif %}
            {% block field_sets %}
                {% for fieldset in adminform %}
                    <fieldset class="module aligned {{ fieldset.classes }}">
                        {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
                        {% if fieldset.description %}
                            <div class="description">{{ fieldset.description|safe }}</div>
                        {% endif %}
                        {% for line in fieldset %}
                            <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                                {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                                {% for field in line %}
                                    <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                                        {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                                        {% if field.is_checkbox %}
                                            {{ field.field }}{{ field.label_tag }}
                                        {% else %}
                                            {{ field.label_tag }}
                                            {% if field.is_readonly %}
                                                <p>{{ field.contents }}</p>
                                            {% else %}
                                                {{ field.field }}
                                            {% endif %}
                                        {% endif %}
                                        {% if field.field.help_text %}
                                            <p class="help">{{ field.field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <table class="table" id="metrics_table">
                            <thead>
                            <td><b>Metric Prefix Symbol</b></td>
                            <td><b>Number of Metric units</b></td>
                            </thead>
                            <tbody id="metrics_table_body">
                            {%  for mykey, myvalue in original.prefix.items %}
                                <tr>
                                    <td><input value="{{ mykey }}" id="id_{{ mykey }}" name="key_{{ mykey }}" class="vTextField"/> </td>
                                    <td><input value="{{ myvalue }}" id="id_value_{{ mykey }}" name="value_{{ mykey }}" type="number" class="vTextField"/></td>
                                    <td><p class="deletelink-box"> <a class="deletelink" onclick="removeRow(this)">remove</a> </p></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <p class="addlink-box"><a class="addlink" id="addrowlink">Add row</a></p>
                    </fieldset>

                {% endfor %}
            {% endblock %}

            {% block after_field_sets %}{% endblock %}

            {% block inline_field_sets %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    {% include inline_admin_formset.opts.template %}
                {% endfor %}
            {% endblock %}

            {% block after_related_objects %}{% endblock %}

            {% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

            {% block admin_change_form_document_ready %}
                <script type="text/javascript"
                        id="django-admin-form-add-constants"
                        src="{% static 'admin/js/change_form.js' %}"
                        {% if adminform and add %}
                        data-model-name="{{ opts.model_name }}"
                        {% endif %}>
                </script>
            {% endblock %}

            {# JavaScript for prepopulated fields #}
            {% prepopulated_fields_js %}

        </div>
    </form></div>
    <script type="text/javascript">
        document.getElementById('addrowlink').addEventListener("click", addRow);
        function removeRow(n) {
            var tr = n.parentNode.parentNode.parentNode;
            var table = document.getElementById('metrics_table_body');
            table.removeChild(tr);
        }
        function addRow() {
            var metricsTable = document.getElementById("metrics_table");
            var currentIndex = metricsTable.rows.length;
            var currentRow = metricsTable.insertRow(-1);

            var keyBox = document.createElement("input");
            keyBox.setAttribute("name", "key_" + currentIndex);
            keyBox.setAttribute("class", "vTextField");

            var valueBox = document.createElement("input");
            valueBox.setAttribute("name", "value_" + currentIndex);
            valueBox.setAttribute("class", "vTextField");
            valueBox.setAttribute("type", "number");

            var removeLinkContainer = document.createElement("p");
            removeLinkContainer.setAttribute("class", "deletelink-box");

            var removeLink = document.createElement("a");
            removeLink.setAttribute("class","deletelink");
            removeLink.setAttribute("onclick", 'removeRow(this)');

            var removeText = document.createTextNode("remove");
            removeLink.appendChild(removeText);
            removeLinkContainer.appendChild(removeLink);

            var currentCell = currentRow.insertCell(-1);
            currentCell.appendChild(keyBox);
            currentCell = currentRow.insertCell(-1);
            currentCell.appendChild(valueBox);
            currentCell = currentRow.insertCell(-1);
            currentCell.appendChild(removeLinkContainer);
        }
    </script>
{% endblock %}
