{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Browser Performance Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body ng-app="{% block ng_app %}browserperfdash.dashboard.static{% endblock %}">
<div class="page-wrap" style="height: 100%;">
    {% block navbar %}
    {% include 'static/navbar_top.html' %}
    {% endblock navbar %}
    {% block body %}

    {% endblock body %}
</div>
{% include 'static/footer.html' %}
<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-resource.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-animate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-sanitize.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/node_modules/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'js/node_modules/angular-chart.js/dist/angular-chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui-bootstrap-tpls-2.5.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</body>
</html>