{% extends "static/base.html" %}
{% load static %}
{% block body %}
    <div class="container-fluid" ng-controller="{% block ng_controller %}AppController{% endblock %}">
        {% block content %}
            <div class="row">
                <div class="container" style="text-align: center">
                    <form class="form-inline">
                        <div class="form-group">
                            {% verbatim %}
                            <label for="browsers">Browser</label>
                            <select name="browser" class="form-control" ng-model="selectedBrowser"
                                    ng-options="x.name for x in browsers">
                            </select>
                            <label for="bot">Bot</label>
                            <select name="bot" class="form-control" ng-model="selectedBot"
                                    ng-options="bot.name for bot in bots">
                            </select>
                            <label for="platform">Platform</label>
                            <select name="platform" class="form-control" ng-model="selectedPlatform"
                                    ng-options="platform.name for platform in platforms">
                            </select>
                            <label for="platform">GPU</label>
                            <select name="gpu" class="form-control" ng-model="selectedGPU"
                                    ng-options="gpu.name for gpu in gpus">
                            </select>
                            <label for="platform">CPU</label>
                            <select name="cpu" class="form-control" ng-model="selectedCPU"
                                    ng-options="cpu.name for cpu in cpus">
                            </select>
                            {% endverbatim %}
                        </div>
                    </form>
                </div>
                <div class="col-md-12" style="padding-top: 10px;">
                    <table class="table table-hover table-condensed table-bordered">
                        <thead>
                        <td>Timestamp</td>
                        <td>Bot</td>
                        <td>Browser</td>
                        <td>Version</td>
                        <td>Test</td>
                        <td>Description</td>
                        <td>Test Version</td>
                        <td>Metric</td>
                        <td>Mean</td>
                        <td>Std.Dev</td>
                        </thead>
                        <tbody>
                        {% verbatim %}
                        <tr ng-repeat="data in reports">
                            <td>{{ data.timestamp }}</td>
                            <td>{{ data.bot }}</td>
                            <td>{{ data.browser }}</td>
                            <td>{{ data.browser_version }}</td>
                            <td>{{ data.root_test }}</td>
                            <td>{{ data.test_path }}</td>
                            <td>{{ data.test_version }}</td>
                            <td>{{ data.metric_tested }}</td>
                            <td>{{ data.mean_value }}</td>
                            <td>{{ data.stddev }}</td>
                        </tr>
                        {% endverbatim %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}
{% endblock body %}