{% extends "static/base.html" %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        {% block content %}
            <div class="row">
                <div class="container-fluid">

                    <h3> Top 10 improvements in the last 10 days</h3>
                    <table>
                    <tbody>
                    {%  for obj in object_list %}
                        <tr>
                            <td>
                                {{ obj.test_path }}
                            </td>
                        <td>
                            {{ obj.delta }}
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        {% endblock content %}
    </div>
{% endblock body %}
