{% extends "static/base.html" %}
{% load static %}
{% block body %}
    <div class="container-fluid" ng-app="{% block ng_app %}browserperfdash.dashboard.static{% endblock %}"
         ng-controller="{% block ng_controller %}DeltaController{% endblock %}">
        {% block content %}
            <div class="row">
                <div class="container-fluid">
                    <form class="form-inline">
                        <div class="row" style="text-align: center; padding-bottom: 10px;">
                            {% verbatim %}
                            <div class="form-group">
                                <label for="days">Show</label>
                                <input type="number" ng-init="listLimit=10" min="0" max="1000"  name="listLimit"
                                       ng-model="listLimit" class="form-control" style="width: 65px;" id="listLimit" ng-change="reload()">
                            </div>
                            <div class="form-group">
                                <select name="browser" class="form-control" ng-model="selectedBrowser"
                                        ng-options="x.browser for x in browsers" ng-change="updateOthersOnBrowserChange()">
                                    <option value="">--All browsers--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="test" class="form-control" ng-model="selectedTest"
                                        ng-options="x.id for x in tests" ng-change="reload()">
                                    <option value="">--All tests--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="bot" class="form-control" ng-model="selectedBot"
                                        ng-options="bot.name for bot in bots" ng-change="updateOthersOnBotChange()">
                                    <option value="">--All bots--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="platform" class="form-control" ng-model="selectedPlatform" ng-disabled="selectedBot"
                                        ng-change="reload()" ng-options="platform.name for platform in platforms">
                                    <option value="">--All platforms--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="gpu" class="form-control" ng-model="selectedGPU" ng-disabled="selectedBot"
                                        ng-change="reload()" ng-options="gpu.name for gpu in gpus">
                                    <option value="">--All GPU--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="selectedCPU" ng-disabled="selectedBot" ng-change="reload()"
                                        ng-options="cpu.name for cpu in cpus">
                                    <option value="">--All CPU--</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="days">Days</label>
                                <input type="number" ng-init="selectedDays=5" min="0" max="50"  name="selectedDays"
                                       data-ng-model="selectedDays" class="form-control" style="width: 65px;" id="selectedDays" ng-change="reload()">
                            </div>
                            <button type="button" class="btn btn-default" ng-click="reload()" id="reload" disabled="disabled">
                                <i class="glyphicon glyphicon-refresh" ng-class="{'glyphicon-refresh-animate': loading}"></i></button>
                        </div>
                        {% endverbatim %}
                    </form>
                    {% verbatim %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Top {{ listLimit }} improvements in the last {{ selectedDays }}* days
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover table-condensed table-bordered table-responsive perftable">
                                <thead>
                                <td>Delta</td>
                                <td>Browser</td>
                                <td>Revision range</td>
                                <td>Bot</td>
                                <td>Test</td>
                                <td>Values in revision</td>
                                <td>Metric</td>
                                </thead>
                                <tbody>

                                <tr ng-repeat="data in improvement_reports | orderBy: '-delta'"
                                    ng-class="(data.test_version==data.prev_results.test_version) ? 'active' : 'danger'"
                                    popover-trigger="mouseenter">
                                    <td>{{ data.delta| number: 1}}%</td>
                                    <td>{{ data.browser }}</td>
                                    <td style="text-align: center">
                                        <span ng-if="data.prev_results.browser_version == undefined" style="float: left">NULL</span>
                                        <span ng-if="data.prev_results.browser_version">
                                            <a ng-href="dash/report/detail/{{ data.prev_results.id }}" style="float: left">
                                                {{ data.prev_results.browser_version }}
                                            </a>
                                        </span> -
                                        <a ng-href="dash/report/detail/{{ data.id }}" style="float: right">{{ data.browser_version }}</a>
                                    </td>
                                    <td><span popover-trigger="'mouseenter'" uib-popover-template="botDetailsPopover.templateUrl"
                                              popover-title="bot: {{ data.bot }}" ng-mouseover="updateBotPopover(data.bot)">
                                        {{ data.bot }}
                                    </span>
                                    </td>
                                    <td>
                                        <a ng-if="data.test_version==data.prev_results.test_version" popover-trigger="'mouseenter'"
                                           uib-popover-template="testDetailsPopover.templateUrl" popover-title="test details of both revisions (unchanged)"
                                           ng-href="dash/report/test/{{ data.id }}">{{ data.test_path }}
                                        </a>
                                        <a ng-if="data.test_version != data.prev_results.test_version"  popover-title="test: {{ data.root_test  }}"
                                           uib-popover="Warning: The test version changed in between the revisions." popover-trigger="'mouseenter'"
                                           ng-href="dash/report/test/{{ data.id }}">{{ data.test_path }}
                                        </a>
                                    </td>
                                    <td style="text-align: center">
                                        <span ng-if="data.prev_results.mean_value" popover-trigger="'mouseenter'"
                                              uib-popover-template="prevResultDetailsPopover.templateUrl"
                                              popover-title="browser rev: {{ data.prev_results.browser_version }}" style="float: left">
                                            {{ data.prev_results.mean_value | number:2 }} {{ data.metric_unit.unit }}
                                        </span>
                                        <span ng-if="data.prev_results.mean_value == undefined" style="float: left">NULL</span>
                                        <span style="text-align: center">-</span>
                                        <span popover-trigger="'mouseenter'" uib-popover-template="currResultDetailsPopover.templateUrl"
                                              popover-title="browser rev: {{ data.browser_version }}" style="float: right">
                                            {{ data.mean_value | number:2 }} {{ data.metric_unit.unit }}
                                        </span>
                                    </td>
                                    <td>{{ data.metric_unit.name }}
                                        <i ng-if="data.metric_unit.is_better === 'dw'"class="glyphicon glyphicon-chevron-down"></i>
                                        <i ng-if="data.metric_unit.is_better === 'up'"class="glyphicon glyphicon-chevron-up"></i>
                                    </td>
                                </tr>
                                {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer" ng-show="noImprovementsFound">
                            No results found. Try again
                        </div>
                    </div>

                    {% verbatim %}
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Top {{ listLimit }} regressions in the past {{ selectedDays }}* days
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover table-condensed table-bordered perftable">
                                <thead>
                                <td>Delta</td>
                                <td>Browser</td>
                                <td>Revision range</td>
                                <td>Bot</td>
                                <td>Test</td>
                                <td>Values in revision</td>
                                <td>Metric</td>
                                </thead>
                                <tbody>
                                <tr ng-repeat="data in regression_reports | orderBy: '-delta'"
                                    ng-class="(data.test_version==data.prev_results.test_version) ? 'active' : 'danger'">
                                    <td>{{ data.delta| number:1}}%</td>
                                    <td>{{ data.browser }}</td>
                                    <td style="text-align: center">
                                        <span ng-if="data.prev_results.browser_version == undefined" style="float: left">NULL</span>
                                        <span ng-if="data.prev_results.browser_version">
                                            <a ng-href="dash/report/detail/{{ data.prev_results.id }}" style="float: left">
                                                {{ data.prev_results.browser_version }}
                                            </a>
                                        </span> -
                                        <a ng-href="dash/report/detail/{{ data.id }}" style="float: right">{{ data.browser_version }}</a>
                                    </td>
                                    <td><span popover-trigger="'mouseenter'" uib-popover-template="botDetailsPopover.templateUrl"
                                              popover-title="bot: {{ data.bot }}">
                                            {{ data.bot }}
                                        </span>
                                    </td>
                                    <td>
                                        <a ng-if="data.test_version==data.prev_results.test_version" popover-trigger="'mouseenter'"
                                           uib-popover-template="testDetailsPopover.templateUrl" popover-title="test details of both revisions (unchanged)"
                                           ng-href="dash/report/test/{{ data.id }}">{{ data.test_path }}
                                        </a>
                                        <a ng-if="data.test_version != data.prev_results.test_version"  popover-title="test: {{ data.root_test  }}"
                                           uib-popover="Warning: The test version changed in between the revisions." popover-trigger="'mouseenter'"
                                           ng-href="dash/report/test/{{ data.id }}">{{ data.test_path }}
                                        </a>

                                    </td>
                                    <td style="text-align: center">
                                        <span ng-if="data.prev_results.mean_value" popover-trigger="'mouseenter'"
                                              uib-popover-template="prevResultDetailsPopover.templateUrl"
                                              popover-title="browser rev: {{ data.prev_results.browser_version }}" style="float: left">
                                            {{ data.prev_results.mean_value | number:2 }} {{ data.metric_unit.unit }}
                                        </span>
                                        <span ng-if="data.prev_results.mean_value == undefined" style="float: left">NULL</span>
                                        <span style="text-align: center">-</span>
                                        <span popover-trigger="'mouseenter'" uib-popover-template="currResultDetailsPopover.templateUrl"
                                              popover-title="browser rev: {{ data.browser_version }}" style="float: right">
                                            {{ data.mean_value | number:2 }} {{ data.metric_unit.unit }}
                                        </span>

                                    </td>
                                    <td>{{ data.metric_unit.name }}
                                        <i ng-if="data.metric_unit.is_better === 'dw'"class="glyphicon glyphicon-chevron-down"></i>
                                        <i ng-if="data.metric_unit.is_better === 'up'"class="glyphicon glyphicon-chevron-up"></i>
                                    </td>
                                </tr>
                                <!-- Popopver templates start -->
                                <script type="text/ng-template" id="bot-template.html">
                                    <table class="table table-condensed">
                                        <tr>
                                            <td><strong>cpu</strong></td>
                                            <td ng-if="loadedBotData">{{ bot_cpu_arch }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>gpu</strong></td>
                                            <td ng-if="loadedBotData">{{ bot_gpu_type }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>platform</strong></td>
                                            <td ng-if="loadedBotData">{{ bot_platform }}</td>
                                        </tr>
                                    </table>
                                </script>
                                <script type="text/ng-template" id="test-template.html">
                                    <table class="table table-condensed table-responsive">
                                        <tr>
                                            <td><strong>test</strong></td>
                                            <td>{{ data.root_test }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>version</strong></td>
                                            <td>..{{ data.test_version.substr(data.test_version.length - 20) }}</td>
                                        </tr>
                                    </table>
                                </script>
                                <script type="text/ng-template" id="prev-result-template.html">
                                    <table class="table table-condensed">
                                        <tr>
                                            <td><strong>Std. dev</strong></td>
                                            <td>{{ data.prev_results.stddev | number:3 }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Prefixed version</strong></td>
                                            <td>{{ data.prev_results.metric_unit_prefixed }}</td>
                                        </tr>
                                    </table>
                                </script>
                                <script type="text/ng-template" id="result-template.html">
                                    <table class="table table-condensed">
                                        <tr>
                                            <td><strong>Std. dev</strong></td>
                                            <td>{{ data.stddev | number:3 }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Prefixed version</strong></td>
                                            <td>{{ data.metric_unit_prefixed }}</td>
                                        </tr>
                                    </table>
                                </script>
                                <!-- Popopver templates end-->
                                {% endverbatim %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer" ng-show="noRegressionsFound">
                            No results found. Try again
                        </div>
                    </div>
                </div>
            </div>
        {% endblock content %}
        <script type="text/javascript" src="{% static 'js/dashboard.module.js' %}"></script>
    </div>
{% endblock body %}
