{% extends "static/base.html" %}
{% load static %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"> </link>
    <div class="container-fluid" ng-app="{% block ng_app %}browserperfdash.plot.static{% endblock %}" ng-controller="{% block ng_controller %}PlotController{% endblock %}">
        {% block content %}
            <form class="form-inline">
                <div class="row" style="text-align: center">
                    {% verbatim %}
                    <div class="form-group">
                        <select name="browser" class="form-control" ng-model="selectedBrowser" ng-disabled="disableBrowser"
                                ng-options="browser.name for browser in browsers" ng-change="onBrowserChange()">
                            <option value="">--All browsers--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="bot" class="form-control" ng-model="selectedBot" ng-disabled="disableBot"
                                ng-options="bot.name for bot in bots" ng-change="onBotsChange()">
                            <option value="">--All bots--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="test" class="form-control" ng-disabled="disableTest" ng-model="selectedTest" ng-change="onTestsChange()"
                                ng-options="test.root_test.id for test in tests">
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="subtest" class="form-control" ng-disabled="disableSubtest" ng-model="selectedSubtest"
                                ng-options="test.test_path + (test.aggregation == 'None' ? '': ' [aggregation: ' + test.aggregation + ']')
                                        for test in subtests">
                            <option value="">--Select Subtest--</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-default" id="reload" ng-hide="buttonHide"
                            ng-show="selectedTest != undefined && selectedSubtest != undefined" ng-click="drawGraph()">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
                    <hr>
                </div>
            </form>
            <div class="container-fluid" id="plot_area">
                <div class="loader_parent" ng-show="loading">
                    <div class="loader"></div>
                </div>
                <div class="dummy">
                </div>
            </div>
            {% endverbatim %}
        {% endblock %}
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.selection.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.resize.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.navigate.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.rangeselection.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.crosshair.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/angular-flot.min.js' %}"></script>
        <script src="{% static 'js/app_modules/plot.module.js' %}"></script>
{% endblock body %}