{% extends "static/base.html" %}
{% load static %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"> </link>
    <div class="container-fluid" ng-app="{% block ng_app %}browserperfdash.plot.static{% endblock %}" ng-controller="{% block ng_controller %}PlotController{% endblock %}">
        {% block content %}
            <form class="form-inline">
                <div class="row" style="text-align: center">
                    {% verbatim %}
                    <div class="form-group">
                        <select name="browser" class="form-control" ng-model="selectedBrowser" ng-disabled="disableBrowser"
                                ng-options="browser.name for browser in browsers" ng-change="onBrowserChange()">
                            <option value="">--All browsers--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="bot" class="form-control" ng-model="selectedBot" ng-disabled="disableBot"
                                ng-options="bot.name for bot in bots" ng-change="onBotsChange()">
                            <option value="">--All bots--</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="test" class="form-control" ng-disabled="disableTest" ng-model="selectedTest" ng-change="onTestsChange()"
                                ng-options="test.root_test.id for test in tests">
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="subtest" class="form-control" ng-disabled="disableSubtest" ng-model="selectedSubtest"
                                ng-options="test.test_path + (test.aggregation == 'None' ? '': ' [aggregation: ' + test.aggregation + ']')
                                        for test in subtests">
                            <option value="">--Select Subtest--</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-default" id="reload" ng-hide="buttonHide"
                            ng-show="selectedTest != undefined && selectedSubtest != undefined" ng-click="drawGraph()">
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </button>
                    <hr>
                </div>
            </form>
            <div class="container-fluid" id="plot_area">
                <div class="loader_parent" ng-show="loading">
                    <div class="loader"></div>
                </div>
                <div class="dummy">
                    <div class="row" style="text-align: center" ng-show="loaded">
                    <span>
                        <b>{{ drawnTestsDetails[0]['browser'] }}</b>@{{ drawnTestsDetails[0]['root_test'] }}/{{ drawnTestsDetails[0]['sub_test'] }}
                    </span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true" class="close_button">&times;</span>
                        </button>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-9">
                            <div class="main-container">
                                <div class="placeholder" id="0"></div>
                            </div>
                            <div class="sub-container">
                                <div class="overview"></div>
                            </div>
                        </div>
                        <div class="col-md-3" ng-show="loaded">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title" id="0">Test: {{ drawnTestsDetails[0]['root_test'] }}</h3>
                                </div>
                                <div class="panel-body" id="0">
                                    Subtest: {{ drawnTestsDetails[0]['sub_test'] }} <br>
                                    Browser: {{ drawnTestsDetails[0]['browser'] }} <br>
                                    <span class="choices" id="choice-0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endverbatim %}
        {% endblock %}
        <script language="javascript" type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.time.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.selection.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.resize.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.navigate.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.rangeselection.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.crosshair.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/node_modules/angular-flot/angular-flot.js' %}"></script>
        <script src="{% static 'js/plot.module.js' %}"></script>
{% endblock body %}